/* body {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
} */
* {
  border: 2px solid red;
}

body {
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  height: 20%;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.main-body {
  height: 80%;
  display: flex;
}

.filter-menu {
  width: 20%;
}

.vacation-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 80%;
  margin: 15px;
  gap: 10px 10px;
}

.vacation-tile {
  height: 20%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}