/* body {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
} */
* {
  border: 2px solid red;
}

body {
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  height: 20%;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.main-body {
  height: 80%;
  display: flex;
}

.filter-menu {
  width: 20%;
}

.vacation-grid {
  display: grid;
  width: 80%;
}

.vacation-tile {
  height: 20%;
  width: 20%;
}